<nav class="tab-bar" aria-label="Section navigation">
  <div class="tab-bar__items">
    <a class="tab-bar__item tab-bar__item--hello" href="/">
      <span class="tab-bar__glyph" aria-hidden="true">☼</span>
      <span class="tab-bar__label">hello</span>
    </a>
    <a class="tab-bar__item tab-bar__item--projects" href="/projects">
      <span class="tab-bar__glyph" aria-hidden="true">◆</span>
      <span class="tab-bar__label">projects</span>
    </a>
    <a class="tab-bar__item tab-bar__item--thoughts" href="/thoughts">
      <span class="tab-bar__glyph" aria-hidden="true">◇</span>
      <span class="tab-bar__label">thoughts</span>
    </a>
    <a class="tab-bar__item tab-bar__item--profile" href="/profile">
      <span class="tab-bar__glyph" aria-hidden="true">◉</span>
      <span class="tab-bar__label">profile</span>
    </a>
    <a class="tab-bar__item tab-bar__item--fitness" href="https://fitglue.tech/@james" rel="external noopener">
      <span class="tab-bar__glyph" aria-hidden="true">△</span>
      <span class="tab-bar__label">fitness</span>
    </a>
  </div>
</nav>
