.dark code {
  background: rgba(0, 0, 0, 0.2);
}

.dark p a,
.dark ul a:not(.navlink),
.dark ol a {
  border-bottom: 1px solid #fff;
}

.dark p a:hover,
.dark ul a:not(.navlink):hover,
.dark ol a:hover {
  color: #ccc;
  border-color: #ccc;
}

.dark a.button {
  background: rgba(0, 0, 0, 0.2);
  border-left: 2px solid #fff;
}

.dark a.rss svg path {
  fill: #fff;
}

.dark a.rss:hover svg path {
  fill: #ccc;
}

.dark nav {
  background: #333;
  color: #fff;
}

.dark nav a {
  color: #fff;
}

.dark nav a:hover {
  color: #ccc;
}

.dark nav.coding {
  background: rgb(32, 0, 29);
}

.dark .coding h2,
.dark .coding h3,
.dark .coding h4,
.dark .coding h5 {
  color: rgb(136, 1, 124);
}

.dark .coding section.area {
  border-left-color: rgb(136, 1, 124);
}

.dark nav.coding a.coding {
  border-left: 2px solid #fff;
}

.dark nav.thoughts {
  background: rgb(0, 31, 23);
}

.dark .thoughts h2,
.dark .thoughts h3,
.dark .thoughts h4,
.dark .thoughts h5,
.dark .thoughts .header-details h1 {
  color: rgb(0, 129, 97);
}

.dark .thoughts section.area {
  border-left-color: rgb(0, 129, 97);
}

.dark nav.thoughts a.thoughts {
  border-left: 2px solid #fff;
}

.dark nav.profile {
  background: rgb(6, 15, 41);
}

.dark .profile h2,
.dark .profile h3,
.dark .profile h4,
.dark .profile h5 {
  color: rgb(22, 61, 168);
}

.dark .profile section.area {
  border-left-color: rgb(22, 61, 168);
}

.dark nav.profile a.profile {
  border-left: 2px solid #fff;
}

.dark nav.life {
  background: rgb(0, 40, 40);
}

.dark .life h2,
.dark .life h3,
.dark .life h4,
.dark .life h5 {
  color: rgb(0, 160, 160);
}

.dark .life section.area {
  border-left-color: rgb(0, 160, 160);
}

.dark nav.life a.life {
  border-left: 2px solid #fff;
}

.dark main {
  background: #333;
  color: #fff;
}

.dark main a {
  color: #fff;
}

.dark main.hello {
  background: rgb(108, 61, 0);
}

.dark .mentions .item {
  background: rgba(0, 0, 0, 0.2);
}

.dark .mention-links img {
  background-color: #999;
  border-left: 2px solid #fff;
}

.dark .mention-links .comment {
  background: #025a44;
}

.dark .details .item {
  background: rgba(0, 0, 0, 0.2);
}

.dark .details .item h4 {
  color: #ddd;
}

.dark main.changelog {
  background: #000;
  color: #fff;
}

.dark main.changelog a {
  color: #ccc;
  border-bottom: 1px solid #ccc;
}

.dark main.changelog a:hover {
  color: #aaa;
  border-bottom: 1px solid #aaa;
}

.dark main.coding {
  background: rgb(41, 0, 37);
}

.dark main.area.coding {
  color: #fff;
  background: rgb(41, 0, 37);
}

.dark main.thoughts {
  background: rgb(0, 35, 26);
}

.dark main.area.thoughts {
  color: #fff;
  background: rgb(0, 55, 41);
}

.dark main.thoughts.details {
  background: rgb(0, 46, 34);
}

.dark main.thoughts.mentions {
  background: rgb(0, 60, 45);
}

.dark main.profile {
  background: rgb(8, 20, 55);
}

.dark main.profile.details {
  background: rgb(5, 12, 33);
}

.dark main.area.profile {
  color: #fff;
  background: rgb(8, 20, 55);
}

.dark main.life {
  background: rgb(0, 45, 45);
}

.dark main.life.details {
  background: rgb(0, 35, 35);
}

.dark main.area.life {
  color: #fff;
  background: rgb(0, 55, 55);
}

.dark footer {
  background: #111;
  color: #777;
}

.dark footer a path {
  fill: #777;
}

.dark footer a:hover path {
  fill: #ccc;
}

.dark footer .copy a {
  color: #777;
  border-bottom: 1px solid #777;
}

.dark footer .copy a:hover {
  color: #ccc;
  border-bottom: 1px solid #ccc;
}

.dark section.intro h1 {
  color: rgb(255, 145, 0);
}

.dark section.intro p {
  color: #fff;
}

.dark section.welcome {
  color: #fff;
  border-right: 5px solid #fff;
}

.dark section.welcome.error {
  color: #fff;
  border-right: 5px solid #fff;
}

.dark section.area {
  border-left: 5px solid #fff;
}

.dark .article .header-details {
  border-left: 5px solid rgb(0, 129, 97);
}

.dark .tag {
  background: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 400px) {
  .dark section.welcome {
    border-right: none;
  }
}

@media only screen and (max-width: 400px) {
  .dark section.area {
    border-left: none;
  }
}

.lightSun {
  display: none;
}

.dark .lightSun {
  display: block;
  fill: #fff;
}

.dark .darkSun {
  display: none;
}
